<div class="container">
	<div class="row">
		<div>        
			<p><a ng-click="navigate('/create')" class="btn btn-xs btn-success">Add</a></p>
			<input type="text" class="form-control" ng-model="a">
			<p><a ng-click="navigate('/search')" class="btn btn-xs btn-info">Search</a></p>
		</div>
	</div>
  <div class="row">
		<div class="col-md-9" role="main">			
			<div ng-repeat="entity in entities track by $index | filter:query | orderBy:orderProp" >
				<div json="entity" type="view"></div>
				<a ng-click="navigate('/update/'+entity._id)" class="btn btn-xs btn-primary">Edit</a>
				<a ng-click="delete(entities, $index)" class="btn btn-xs btn-danger">Delete</a>
			</div>
		</div>
    <div class="col-md-3" role="complementary">
      <!--Sidebar content-->

			<div class="form-group">
				<label class="control-label" for="searchResult">Filter</label>
				<input type="text" class="form-control" id="searchResult" ng-model="query">
			</div>
			<div class="form-group">
				<label class="control-label" for="sortResult">Order</label>

				<select class="form-control" id="searchResult" 								
								ng-model="orderProp">
					<option value="">-- choose order --</option>
					<option ng-repeat="it in defaultEntityProp | filter:utils.isOrderable"	ng-selected="{{it.key == orderProp}}"	value="{{it.key}}">{{it.key}}</option>

				</select>				

			</div>
			<div class="form-group">
				<span><strong>Statistics</strong><span>
				<table class="table table-striped">
          <thead>
<!--
            <tr>
              <th>Key</th>
              <th>Value</th>
            </tr>
-->
          </thead>
          <tbody>
            <tr>
              <td>entityCount</td>
              <td>{{entities.length}}</td>
            </tr>
          </tbody>
        </table>	
			</div>

    </div>

  </div>
</div>
