<div class="container">
  <div class="row">
		<div class="col-md-12">book number: {{entities.length}}</div>
    <div class="col-md-9" role="main">
      <!--Body content-->
					<div ng-repeat="entity in entities | filter:query | orderBy:orderProp" 
							 class="row centered">
						<div class="col-md-3" class="thumbnail">
							<a href="#/detail/{{entity._id}}"><img class="img-responsive" ng-src="{{entity.coverUrl || '/seed/img/default-book-cover.jpg'}}"></a>
						</div>
						<div class="col-md-9">
							<div class="btn-group">
								<a href="#/edit/{{entity._id}}" 
									 class="btn btn-xs btn-primary">Edit</a>
								<a ng-click="utils.delete(book)"
									 class="btn btn-xs btn-danger">Delete</a>
							</div>

							<p>
								<a href="#/detail/{{entity._id}}">{{entity.name}}</a>
								<br/>
								<small>{{utils.getAuthors(book)}}</small>
							</p>
							{{entity.description}}
						</div>
					</div>	
    </div>
    <div class="col-md-3" role="complementary">
      <!--Sidebar content-->

			<div class="form-group">
				<label class="control-label" for="searchResult">Search</label>
				<input type="text" class="form-control" id="searchResult" ng-model="query">
			</div>
			<div class="form-group">
				<label class="control-label" for="sortResult">Sort by</label>
				<select class="form-control" id="searchResult" ng-model="orderProp">
					<option value="name">Alphabetical</option>
					<option value="publicationYear">Newest</option>
				</select>				
			</div>
			
    </div>

  </div>
</div>
