<div class="container">

  <div class="row">
    <div class="col-md-4">				
			<img class="img-responsive" ng-src="{{entity.coverUrl || '/seed/img/default-book-cover.jpg'}}"></img>
		</div>
		<div class="col-md-8"> 
			<form class="form-group">
				<label class="control-label" >Title</label>
				<input type="text" class="form-control" ng-model="entity.name">
				<label class="control-label">Authors</label>
				<ul class="list-inline">
					<li ng-repeat="author in entity.authors track by $index">
						<div class="input-group">
							<input class="form-control" type="text" 
									 ng-model="entity.authors[$index]">
							<span class="input-group-addon glyphicon glyphicon-remove">
								<a ng-click="entity.authors.splice($index,1)"></a>
							</span>
						</div>
					</li>
					<li>
						<a class="btn btn-xs btn-primary" ng-click="entity.authors.push('')">
							<span class="glyphicon glyphicon-plus"></span>
						</a>
					</li>
				</ul>
				<label class="control-label" >Description</label>
				<textarea rows="3" class="form-control" ng-model="entity.description">
				</textarea>
				<a class="btn btn-primary" 
					 ng-click="saveEntity()">Save</a>
				<button class="btn btn-default">Cancel</button>
			</form>
		</div>
	</div>
</div>


